# Dependency directories
node_modules
/.pnp
.pnp.js
.npm

# Next.js build output
.next
out

# Python virtual environment
myenv/

# Models and dataset files
models/embeddings.npy
models/faiss_index.bin
models/*.pdf
models/*.tex
models/*.txt
models/train.csv
models/__pycache__/

# Testing and coverage
coverage
.nyc_output

# Local development
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env
.env.development
.env.test
.env.production

# Version control
.git
.gitignore
.gitattributes

# IDE related
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Docker related
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

# Typescript
*.tsbuildinfo

# Build cache
.cache
.turbo

# Logs
logs
*.log

# Misc
README.md
LICENSE
.github